$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
);

@import "./node_modules/bootstrap/scss/functions"; // Import functions
$primary: red; // Customize variables
@import "./node_modules/bootstrap/scss/variables"; // Import variables

$custom-grid-breakpoints: (
  smd: 600px // Add custom breakpoint
);
$grid-breakpoints: map-merge($grid-breakpoints, $custom-grid-breakpoints);

@import "./node_modules/bootstrap/scss/mixins"; // Import mixins
@import "./node_modules/bootstrap/scss/bootstrap.scss"; // Import Bootstrap